.body{
    background-color: 	#EAEAEA;
}
.inner{
    background-color: #ffffff;
}
.right{
    text-align: right;
}
.inputBorder{
    width: 100%;
    border: 0;
}
.inlineDiv{
    display: inline-block
}
