<html>
<head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/styles.css">
<script src="js/jquery-1.12.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
  .del{
      opacity: 0;
  }
  .del:hover{
      opacity: 1;
  }
</style>
<script>

    angular.module('todoApp', [])
            .controller('todoController', function($scope) {
                $scope.tasks = [];
                $scope.add = function() {
                    if($scope.title!="")
                    $scope.tasks.push($scope.title);
                }
                $scope.delete = function() {
                    $scope.tasks.splice(this.$index, 1);
                }
            })

    function changeImage(elem) {

      if(elem.src=="http://localhost/AngularJS/images/circle.png")
      {
          elem.src="images/selected.png";
      }else{
          elem.src="images/circle.png";
      }
    }

</script>
</head>

<body >
<div class="container" style=" margin: 0 auto;">
    todo
    <div ng-app="todoApp" ng-controller="todoController">
        <div class="row">
            <div class="col-md-8 col-xs-12 inner" >
                <input ng-model="title" ng-keyup="$event.keyCode == 13 ? add() : null"  placeholder="What needs to be done" class="inputBorder">
            </div>
        </div>

        <div ng-repeat="t in tasks track by $index">
            <div class="row">
                <div class="col-md-4 col-xs-6 inner" >
                   <div class="inlineDiv">
                       <img src="images/circle.png" width="20" height="20" onclick="changeImage(this);">
                   </div>
                    <div class="inlineDiv">{{t}}</div>
                </div>
                <div class="col-md-4 col-xs-6 inner right">
                    <div ng-click="delete()" style="cursor: pointer;">
                        <img class="del" src="images/delete.png" width="20" height="20"  >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-12 inner" >
                <hr>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>




