<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style>
        .del{
            opacity: 0;
        }
        .del:hover{
            opacity: 1;
        }
    </style>
    <script>


        var app= angular.module('todoApp', [])
                .controller('todoController', function($scope) {

                    $scope.tasks = [];
                    $scope.completedTasks = [];
                    $scope.allTasks=[];
                    $scope.tasks2=[];
                    var checked=false;


                    $scope.add = function () {
                        if ($scope.title != "")
                        {
                            document.getElementById("input").value="";
                            $scope.tasks.push({title:$scope.title,status:'active'});
                            //$scope.allTasks.push({title:$scope.title,status:'active'});

                        }

                    };

                    $scope.delete = function () {

                        var idx = $scope.completedTasks.indexOf($scope.tasks[this.$index]);
                        if (idx !== -1) {
                            $scope.completedTasks.splice(idx, 1);
                        }
                        $scope.tasks.splice(this.$index, 1);
                    };

                    $scope.showCompleted = function () {

                        if(count==0)
                        {
                            for(var i=0;i<$scope.tasks.length;i++)
                            {
                                $scope.tasks2[i]=$scope.tasks[i];

                            }
                        }
                        count++;
                        //unSelectAllTasks();
                        //$scope.allTasks=$scope.tasks;

                        if(count>0)
                            $scope.allTasks=$scope.tasks2;
                        else
                            $scope.allTasks=$scope.tasks;

                        $scope.tasks = $scope.completedTasks;

                        // $scope.completedTasks = [];
                    };

                    $scope.completed = function (param) {
                        if ($scope.completedTasks.indexOf(param) == -1)
                        {
                            param.status='completed';
                            $scope.completedTasks.push(param);
                        }
                        else {
                            var idx = $scope.completedTasks.indexOf(param);
                            param.status='active';
                            if (idx !== -1) {
                                $scope.completedTasks.splice(idx, 1);
                            }
                        }
                    };

                    var count=0;
                    $scope.showAll = function(){
                        // unSelectAllTasks();

                        if($scope.allTasks.length!=0)
                        $scope.tasks=$scope.allTasks;

                        if(count==0)
                        {
                            for(var i=0;i<$scope.tasks.length;i++)
                            {
                                $scope.tasks2[i]=$scope.tasks[i];

                            }
                        }
                        count++;


                        //alert($scope.tasks2);

                        //$scope.tasks=$scope.tasks2;

                        // $scope.allTasks=[];

                    };
                    $scope.showActive=function(){
                        if(count==0)
                        {
                            for(var i=0;i<$scope.tasks.length;i++)
                            {
                                $scope.tasks2[i]=$scope.tasks[i];

                            }
                        }
                        count++;


                        $scope.tasks=$scope.allTasks;
                        unSelectAllTasks();
                        // $scope.allTasks=$scope.tasks;
                        $scope.tasks = $scope.tasks.filter(function(x) { return $scope.completedTasks.indexOf(x) < 0 })

                    };
                    $scope.clearCompleted=function(){
                        $scope.completedTasks=[];
                    }
                    $scope.selectAllRows=function(){

                        if(checked==false) {
                            for (var i = 0; i < $scope.tasks.length; i++) {
                                $scope.tasks[i].status = "completed";
                            }
                            $scope.completedTasks = $scope.tasks;
                            checked=true;
                        }else {
                             alert($scope.tasks2.length);
                        }
                    }

                });


        function selectImage(elem) {


            if(elem.src=="http://localhost/AngularJS/images/circle.png"){
                elem.src="images/selected.png";
                elem.parentElement.parentElement.children[1].style.opacity="0.5";
                elem.parentElement.parentElement.children[1].style.textDecoration="line-through";

            }else{
                elem.src="images/circle.png";
                elem.parentElement.parentElement.children[1].style.opacity="1.0";
                elem.parentElement.parentElement.children[1].style.textDecoration="none";

            }

        }

        function unSelectAllTasks()
        {
            var elements=document.getElementsByClassName('sel');
            for(var i=0;i<elements.length;i++) {
                elements[i].src="images/circle.png";
                elements[i].parentElement.parentElement.children[1].style.opacity="1.0";
                elements[i].parentElement.parentElement.children[1].style.textDecoration="none";
            }
        }


    </script>



</head>

<body style="background-color: #EAEAEA;">
<div class="container" style=" margin: 0 auto;width: 60%;">
    todo
    <div ng-app="todoApp" ng-controller="todoController">
        <div class="row">
            <div class="col-md-8 col-xs-12 inner" >
                <div  class="inlineDiv" >
                    <img ng-click="selectAllRows()" src="images/arrow.png"  width="20" height="15"/>
                </div>
                <div  class="inlineDiv" style="width: 90%">
                    <input id="input" ng-model="title" ng-keyup="$event.keyCode == 13 ? add() : null"  placeholder="What needs to be done" class="inputBorder">
                </div>
            </div>
        </div>

        <div ng-repeat="t in tasks track by $index">
            <div class="row" >
                <div class="col-md-4 col-xs-6 inner"  ng-if="t.status == 'completed'">

                    <div class="inlineDiv" >
                        <img class="sel" src="images/selected.png"  width="20" height="20"  ng-click="completed(t);" onclick="selectImage(this);">
                    </div>
                    <div class="inlineDiv" style="opacity: 0.5;text-decoration:line-through" >
                        {{t.title}}
                    </div>
                </div>

                <div class="col-md-4 col-xs-6 inner"  ng-if="t.status == 'active'">

                    <div class="inlineDiv" >
                        <img class="sel" src="images/circle.png" width="20" height="20"  ng-click="completed(t);" onclick="selectImage(this);">
                    </div>
                    <div class="inlineDiv">{{t.title}}</div>
                </div>

                <div class="col-md-4 col-xs-6 inner right">
                    <div ng-click="delete()" style="cursor: pointer;">
                        <img class="del" src="images/delete.png" width="20" height="20"  >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-xs-12 inner" >
                    <hr>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 inner" >
                {{tasks.length}} items left
            </div>
            <div class="col-md-1  inner" >
                <div ng-click="showAll()">All</div>
            </div>
            <div class="col-md-1  inner">
                <div ng-click="showCompleted()">Completed</div>
            </div>
            <div class="col-md-1  inner" >
                <div ng-click="showActive()">Active</div>
            </div>
            <div class="col-md-1  inner" >
                <div ng-click="clearCompleted()">Clear</div>
            </div>
        </div>

    </div>

</div>

</body>
</html>




